<div class="row mx-auto my-4">
    <div class="col-md-6">
        <h1> Add courses</h1>
    </div>
    <div class="col-md-6 text-right">
        <a routerLink="/" rel="noopener noreferrer">
            <i class="fa fa-arrow-left"></i> Back to list            
        </a>
    </div>
</div>
<div class="container">
    <div class="row mx-auto">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           <div class="card">
               <div class="card-header">
                   New course
               </div>
               <div class="card-body">
                    <div class="form-group">
                        <label for="title"><strong>Title <span class="requiredfield">*</span> :</strong></label>
                        <input type="text" [(ngModel)]="myCourse.title" #title="ngModel" minlength="1" maxlength="30" class="form-control" id="title" placeholder="Enter a title" required>
                        <div class="errors-div" *ngIf="title.invalid && (title.dirty || title.touched )">
                            <small *ngIf="title.errors.required" class="form-text text-muted">
                                Title is required
                            </small>
                            <small *ngIf="title.errors.minlength || title.errors.maxlength " class="form-text text-muted">
                                Title must be at least between 1 and 30 characters
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="content"><strong>Content <span class="requiredfield">*</span>:</strong></label>
                        <textarea class="form-control" [(ngModel)]="myCourse.content" id="content" #content="ngModel" required rows="4" maxlength="100" placeholder="Enter a short description of this course"></textarea>
                        <div class="errors-div" *ngIf="content.invalid && (content.dirty || content.touched )">
                            <small *ngIf="content.errors.required" class="form-text text-muted">
                                Content is required
                            </small>
                            <small *ngIf="content.errors.maxlength " class="form-text text-muted">
                                Content must be less than 100 characters
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="typeCourse"><strong>Type of course :</strong><span class="text-muted">(By default Other)</span></label>
                        <select class="custom-select" [(ngModel)]="myCourse.type" #typeC="ngModel" id="typeCourse">
                            <option value=" {{ type.typeCourse }} " *ngFor="let type of typesCourse"> {{ type.typeCourse }} </option>
                        </select>
                    </div>
                    <!-- {{ myCourse | json }} -->
                    <!-- {{ typesCourse | json }} -->
                    <button type="submit" *ngIf="!title.errors && !content.errors && !typeC.errors" (click)="persist()" class="btn btn-primary btn-block btn-lg"><i class="fa fa-send"></i> <strong> Add course</strong></button>
               </div>
               
           </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>