/* Colorize-zoom Container */
.card  {
    transition: transform .1s, filter .1s ease-in-out;
    filter: scale(100%);
  }
  
  /* The Transformation */
.card:hover {
    filter: scale(0);
    transform: scale(1.01);
    border-color: #c0392b;
    cursor: pointer;
}