<div class="row mx-auto my-4">
    <div class="col-md-2"></div>
    <div class="col-md-8 mt-4">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center"><i class="fa fa-sign-in"></i> Login</h1>
            </div>
            <div class="card-body">
                <!-- <img [src]="'/assets/@abdelali.jpeg'" width="40" class="card-img-top text-center" alt="@abdelali"> -->
                <div class="form-group">
                  <label for="email">Email :</label>
                  <input type="email" id="email" class="form-control" placeholder="Enter your adress email" aria-describedby="helpId">
                </div>
                <div class="form-group">
                    <label for="password">Password :</label>
                    <input type="password" id="password" class="form-control" placeholder="***************" aria-describedby="helpId">
                </div>
            </div>
    <div class="col-md-2"></div>
</div>